.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml